<main class="flex-container">
  <article class="padded-horizontally" fxFlex fxFlexAlign="center">
    <h1><span class="shadowed">contact</span><span class="x050"> me</span></h1>
    <p class="narrow padded-vertically">
      Enough with the monologue!<br /><br />
      <span class="x1-5"
        ><a href="mailto: lagou.chara@gmail.com" target="_blank"
          >drop me a line
        </a></span
      >to extend this conversation <br />
      and<br />
      perhaps discuss a potential co-operation.<br /><br />
      <span class="x3-5">📮</span><br><br>
      Thanks for stopping by!
    </p>
    <!-- <p class="game">
      <a role="button" (click)="escape()">
        esc
      </a>
    </p> -->
  </article>
</main>
