@import "../../../../styles.scss";

nav > ul > li {
  display: inline-block;
  padding: 0 0.5rem;
}

nav > ul > li>a.active {
  text-decoration: underline;
  text-decoration-style: wavy;
}

button.mat-menu-item.active {
  font-weight: bold;
}

header {
  background-color: map-get($map: $ng-app-primary, $key: default);
}

header.flex-container {
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-family: "Ranchers", cursive;
  font-size: 2rem;
  letter-spacing: 0.15rem;
}