<main class="flex-container">
  <article class="padded-horizontally" fxFlex fxFlexAlign="center">
    <h1>
      <span class="shadowed">about</span
      ><span class="x050"> me &#38; my work</span>
    </h1>
    <p class="narrow padded-vertically">
      My work reflects my
      <span class="x1-5">multi-faceted</span> personality.<br /><br />
      I'm interested in welding together different aspects of my training for
      the production of innovative <b>interdisciplinary</b> solutions. I do love
      <b>experimenting</b> with new technologies and discovering new fields. I
      enjoy <b>sharing knowledge</b> and I <b>stand for diversity in tech</b> as
      an active member of the
      <a href="https://djangogirls.org/" target="_blank">Django Girls</a>
      community. I very much appreciate
      <b>international</b>
      environments, as I strongly believe that cultural exchange has positive
      impact both on scientific competences and personal development.
    </p>
    <div class="flex-container">
      <div>
        <mat-card>
          <mat-card-header color="primary">
            <mat-card-title>Engineer / Software Developer</mat-card-title>
            <mat-card-subtitle>by training</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="x3">👷🏽‍♀️</span><br /><br />
              I've studied<br />
              Geomatics Engineering
              <a
                href="https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/258594/2017-ivt-jahresbericht.pdf#page=33"
                target="_blank"
                >@ethz</a
              ><br />
              Computer Science
              <a href="http://dbis.informatik.uni-freiburg.de/" target="_blank"
                >@unifreiburg</a
              ><br />
              Surveying &#38; Transportation Engineering
              <a
                href="https://dspace.lib.ntua.gr/xmlui/handle/123456789/39623"
                target="_blank"
                >@ntua
              </a>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header color="primary">
            <mat-card-title>Technologist</mat-card-title>
            <mat-card-subtitle>by profession</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="x3">👩🏽‍💼</span><br /><br />
              I've worked at<br />
              Computer-Based Assessment
              <a
                href="https://wwwde.uni.lu/recherche/fhse/dbcs/people/charalampia_lagou"
                target="_blank"
                >@unilu</a
              ><br />
              Computing Group, LHCb Experiment
              <a href="http://cds.cern.ch/record/2284845" target="_blank"
                >@cern</a
              >
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header color="primary">
            <mat-card-title>Interdisciplinary Mind</mat-card-title>
            <mat-card-subtitle>by curiosity</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="x3">👩🏽‍🏭</span><br /><br />
              I'm interested in welding scientific fields together.<br />
              Combos I've been occupied with are<br />
              <a href="https://orbilu.uni.lu/handle/10993/36852" target="_blank"
                >Cognitive Psychology + Computer Science</a
              ><br />
              <a
                href="https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/258594/2017-ivt-jahresbericht.pdf#page=33"
                target="_blank"
                >Road Safety + GIS + Computer Science</a
              >
              <br />
              <a
                href="http://www.ika.ethz.ch/studium/masterprojektarbeit/2016_lagou_poster.pdf"
                target="_blank"
                >Road Safety + Cartography</a
              >
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header color="primary">
            <mat-card-title>Diversity in Tech Ambassador</mat-card-title>
            <mat-card-subtitle>by choice</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="x3">🙋🏽‍♀️</span><br /><br />
              I've acted as<br />
              coach
              <a href="https://djangogirls.org/basel/" target="_blank"
                >@djangogirls Basel</a
              ><br />
              workshop organiser
              <a href="https://djangogirls.org/bern/" target="_blank"
                >@djangogirls Bern</a
              >
              &#38;
              <a href="https://djangogirls.org/zurich/" target="_blank"
                >Zurich</a
              >
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header color="primary">
            <mat-card-title>Non-Stop Learner</mat-card-title>
            <mat-card-subtitle>by nature</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="x3">👩🏽‍🔬</span><br /><br />
              I'm currently learning<br />
              Progressive Web Apps 📡<br />
              Time Management 🍅<br />
              Reduce-Reuse-Recycle ♻️
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header color="primary">
            <mat-card-title>International Spirit</mat-card-title>
            <mat-card-subtitle>by the way</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="x3">👩🏽‍🚀</span><br /><br />
              I've lived in<br />
              Athens (GR), Zurich (CH), Freiburg (DE) &#38; Trier (DE)<br />
              and worked in<br />
              Geneva (CH) &#38; Esch-sur-Alzette (LU)
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <p class="narrow padded-vertically">
      A portfolio section will be added soon.<br />
      For the moment, you may browse my
      <a href="https://github.com/CharaLagou" target="_blank"
        >public GitHub repos</a
      >.
    </p>
    <p class="game padded-vertically">
      <a routerLink="/contact">
        <span>collab interest?</span>
        <span class="blink">&#124;</span>
      </a>
    </p>
  </article>
</main>
