@import "../../../styles.scss";

.x3 {
  color: map-get($map: $ng-app-accent, $key: default);
}

div.flex-container {
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

/* div.flex-container>div {
  flex: 0 0 25%;
  margin: 2%;
  min-width: 20%;
} */

@media screen and (max-width: 599px) {
  div.flex-container>div {
    flex: 0 0 90%;
    margin: 5% 0%;
    min-width: 40%;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  div.flex-container>div {
    flex: 0 0 60%;
    margin: 7%;
    min-width: 30%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  div.flex-container>div {
    flex: 0 0 37%;
    margin: 5%;
    min-width: 20%;
  }
}

@media screen and (min-width: 1280px) {
  div.flex-container>div {
    flex: 0 0 25%;
    margin: 2%;
    min-width: 10%;
  }
}

mat-card-header {
  justify-content: center;
}

mat-card {
  height: 100%;
  border: 0.5rem solid map-get($map: $ng-app-warn, $key: 200);
  box-shadow: 0.5rem 0.5rem 0 map-get($map: $ng-app-primary, $key: 200) !important;
}

mat-card a {
  color: map-get($map: $ng-app-primary, $key: default);
}