@import "../../../styles.scss";

.x3 {
  color: map-get($map: $ng-app-accent, $key: default);
}

.narrow {
  margin-left: 30%;
  width: 40%;
}

div.flex-container {
  justify-content: center;
  align-items: stretch;
  gap: 3rem;
}

mat-card-header {
  justify-content: center;
}

mat-card {
  border: 0.5rem solid map-get($map: $ng-app-warn, $key: 200);
  box-shadow: 0.5rem 0.5rem 0 map-get($map: $ng-app-primary, $key: 200) !important;
}