<main class="flex-container">
  <article class="padded-horizontally" fxFlex fxFlexAlign="center">
    <h1>
      <span class="shadowed">about</span
      ><span class="x050"> me &#38; my work</span>
    </h1>
    <div class="flex-container">
      <div>
        <mat-card>
          <mat-card-header color="primary">
            <mat-card-title>Engineer / Software Developer</mat-card-title>
            <mat-card-subtitle>by training</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="x3">👷🏽‍♀️</span><br /><br />
              Goematics Engineering @ethz<br>
              Computer Science @unifreiburg<br />
              Surveying &#38; Transportation Engineering @ntua
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header color="primary">
            <mat-card-title>Technologist</mat-card-title>
            <mat-card-subtitle>by profession</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="x3">👩🏽‍💼</span><br /><br />
              Computer-Based Assessment @unilu<br />
              Computing Department, LHCB Experiment @cern
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header color="primary">
            <mat-card-title>Diversity in Tech Ambassador</mat-card-title>
            <mat-card-subtitle>by choice</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="x3">🙋🏽‍♀️</span><br /><br />
              Django Girls coach @djangogirlsbasel<br />
              Django Girls workshop organiser @djangogirlszh
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header color="primary">
            <mat-card-title>Non-Stop Learner</mat-card-title>
            <mat-card-subtitle>by nature</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="x3">👩🏽‍🔬</span><br /><br />
              I'm currently learning<br>
              Progressive Web Apps 📡<br>
              Time Management 🍅<br>
              Reduce-Reuse-Recycle ♻️<br>
              German 🥨
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header color="primary">
            <mat-card-title>International Spirit</mat-card-title>
            <mat-card-subtitle>by the way</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="x3">👩🏽‍🚀</span><br /><br />
              I've lived in<br>
              Athens (GR), Zurich (CH), Freiburg (DE), Trier (DE)<br>
              and worked in<br>
              Geneva (CH), Esch-sur-Alzette (LU)
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </article>
</main>
