<main class="flex-container">
  <article class="padded-horizontally" fxFlex fxFlexAlign="center">
    <h1>
      <span class="shadowed">intro</span><span class="x050 ">duction</span>
    </h1>
    <p class="narrow padded-vertically">
      Hi! I'm <span class="x1-5"><b>Chara</b></span
      >, <br />officially Charalampia Lagou.
    </p>
    <p class="narrow">
      I'm an
      <span class="x1-5"><b>Engineer / Software Developer</b></span>,<br /> 
      a <span class="x1-5"><b>Technologist</b></span><br>specialised in
      <b>web</b> technologies and occasionally <b>spatial</b> applications.<br /><br /><span class="x3"
        >👩🏽‍💻</span
      >
    </p>
    <p class="narrow">
      In case you are wondering why<br>
      my name sounds greek to you<br />
      ...that's because it is!<br /><br />
      It's written
      <a
        href="https://en.wiktionary.org/wiki/%CF%87%CE%B1%CF%81%CE%AC"
        target="_blank"
        >Χαρά</a
      >, pronounced
      <a id="pronouncer" role="button" (click)="pronounce('Χαρά', 'el-GR')"
        >kharā́</a
      >, and it means 'joy' in my mother tongue.
    </p>
    <p class="game padded-vertically">
      <a routerLink="/about">
        <span>wanna know more about me &#38; my work?</span>
        <span class="blink">&#124;</span>
      </a>
    </p>
  </article>
</main>
