<footer class="flex-container padded-horizontally">
  <small>
    <details>
      <summary>
        &#169; Chara Lagou {{ currentYear }}. All rights reserved. &#124; Made
        with
        <a
          href="https://en.glosbe.com/el/en/%CE%BC%CE%B5%CF%81%CE%AC%CE%BA%CE%B9"
          target="_blank"
        >
          meráki
        </a>
        &#124;
        <a href="https://github.com/CharaLagou/webspace" target="_blank">
          <img
            src="../../../assets/img/Octicons-mark-github.svg"
            alt="source code link"
          />
        </a>
      </summary>
      <dl>
        <dt>Attributions</dt>
        <dd>
          background image:
          <a href="https://www.heropatterns.com/" target="_blank">
            Topography by Steve Schoger, CC BY 4.0 (2020)
          </a>
        </dd>
        <dd>
          GitHub logo:
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
            target="_blank"
          >
            Octicons by GitHub, MIT License (2020)
          </a>
        </dd>
        <dd>
          Favicon:
          <a
            href="https://favicon.io/emoji-favicons/woman-technologist/"
            target="_blank"
            >John Sorrentino, License for commercial and personal use (2020)</a
          >
        </dd>
      </dl>
    </details>
  </small>
</footer>
